#root {
  width: 70%;
  padding: 0;
}

nav {
  height: 4rem;
  background-color: #EC717A;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
}

.nav-links {
  width: 25%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.nav-links a {
  color: white;
}

.page-container {
  padding: 0 3rem;
}

.calculator-body {
  width: 35%;
  background-color: #2f383a;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 15px;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 5rem;
  color: white;
  background-color: #57585a;
  border: none;
  border-radius: 3%;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
}

.button:hover {
  background-color: #8e8e8e;
}

.button-spc {
  background-color: black;
}

.button-equal {
  background-color: orange;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  background-color: #9daa73;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 100%;
  border-radius: 15px;
  padding: 0 10px;
}

.calculator-component {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 3rem;
  padding-bottom: 4rem;
}

img {
  width: 10rem;
  height: 10rem;
}

.calc-text-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.5rem;
}